<div class="navbar navbar-wagon hidden-xs hidden-sm">
  <div class="container">
    <div class="row">
      <div class="col-xm-12 col-xs-12">
        <div class="menu-top">
          <ul class="nav navbar-nav navbar-left">
            <li>
                <img src="" alt="">
            </li>
          </ul>
        </div>
        <div class="navbar-right hidden-xs hidden-sm">
          <div class="menu-top">
            <ul class="nav navbar-nav navbar-right">
              <li>
                  <a class="page-scroll" href="#sell">Sell Your Music</a>
              </li>
              <li>
                  <a class="page-scroll" href="#music-publishing">Music Publishing</a>
              </li>
              <li>
                  <a class="page-scroll" href="#services">Artist Services</a>
              </li>
              <li>
                  <a class="page-scroll" href="#blog">Blog</a>
              </li>
              <li>
                  <a class="page-scroll" href="#login">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="navbar navbar-wagon navbar-fixed-top hidden-md hidden-lg">
  <div class="navbar-wagon navbar-fixed-top">
        <div class="logo-img">

      </div>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">A Bloco D</a></li>
          <li><a href="#">Soluções Estruturais</a></li>
          <li><a href="#">Serviços</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

