<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="banner-content">
          <h1>SELL YOUR MUSIC WORLDWIDE</h1>
              <ul>
                <li>Get your music on Spotify, iTunes, Tidal, Google Play, Amazon Music & more</li>
                <li>Share your music and grow your fan base</li>
                <li>Keep 100% of the sales revenue from the music you distribute</li>
              </ul>
          <a class="btn btn-primary btn-lg">Cadastre-se</a>
        </div>
      </div>
    </div>
  </div>
</div>

